<!-- Login -->
<section class="g-bg-gray-light-v5">
  <div class="container g-py-100">
    <div class="row justify-content-center">
      <div class="col-sm-8 col-lg-5">
        <div class="u-shadow-v21 g-bg-white rounded g-py-40 g-px-30">
          <header class="text-center mb-4">
            <h2 class="h2 g-color-black g-font-weight-600">Inicio de sesión</h2>
          </header>

          <!-- Form -->
          <%= form_tag(sessions_path, class: 'g-py-15') do |form| %>
            <div class="mb-4">
              <label class="g-color-gray-dark-v2 g-font-weight-600 g-font-size-13">Nombre de usuario:</label>
              <%= text_field_tag :username, nil, class: 'form-control g-color-black g-bg-white g-bg-white--focus g-brd-gray-light-v4 g-brd-primary--hover rounded g-py-15 g-px-15l', placeholder: 'Nombre de usuario', required: true %>
            </div>

            <div class="g-mb-35">
              <label class="g-color-gray-dark-v2 g-font-weight-600 g-font-size-13">Contraseña:</label>
              <%= password_field_tag :password, nil, class: 'form-control g-color-black g-bg-white g-bg-white--focus g-brd-gray-light-v4 g-brd-primary--hover rounded g-py-15 g-px-15 mb-3', placeholder: 'Contraseña', required: true %>
            </div>

            <div class="mb-4">
              <%= submit_tag 'Ingresar', class: 'btn btn-md btn-block u-btn-primary rounded g-py-13' %>
            </div>
          <% end %>
          <!-- End Form -->
          <% if alert %>
            <div class="alert alert-danger mt-4" role="alert">
              <%= alert %>
            </div>
          <% end %>
          <footer class="text-center">
            <p class="g-color-gray-dark-v5 g-font-size-13 mb-0">Acceso al sistema de Well Control International</a>
            </p>
          </footer>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Login -->