<h1>Cursos a los que se inscribio el alumno <b><%= @student.fullname%></b></h1>
<div class="card g-brd-aqua rounded-0 g-mb-30">
  <h3 class="card-header g-bg-aqua g-brd-transparent g-color-white g-font-size-16 rounded-0 mb-2">
    <i class="fa fa-mortar-board g-mr-5"></i>
    Cursos
  </h3>
  <div class="table-responsive px-2 pb-1">
    <table id="student-courses-table" class="table table-hover u-table--v1 mb-0 dt-responsive w-100">
      <thead>
        <tr>
          <th>Estado</th>
          <th>Codigo</th>
          <th>Curso</th>
          <th>Inicio</th>
          <th>Fin</th>
          <th>Instructor</th>
          <th>Nivel</th>
          <th>Modo</th>
      </thead>
      <tbody>
        <% @student.course_students.each do |c| %>
          <tr>
            <td><%= @status[c.status] %></td>
            <td><%= c.course.program.code %></td>
            <td><%= c.course.program.name %></td>
            <td><%= c.course.start_date %></td>
            <td><%= c.course.finish_date %></td>
            <td><%= c.course.teacher.name %></td>
            <td><%= c.course.course_level.name %></td>
            <td><%= c.course.course_type.name %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>