<p id="notice"><%= notice %></p>

<p>
  <strong>Start date:</strong>
  <%= @course.start_date %>
</p>

<p>
  <strong>Finish date:</strong>
  <%= @course.finish_date %>
</p>

<p>
  <strong>Start hour:</strong>
  <%= @course.start_hour %>
</p>

<p>
  <strong>Finish hour:</strong>
  <%= @course.finish_hour %>
</p>

<%= link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Back', courses_path %>
