<%= form_with(url: certificates_path ,id: 'form-certificate' , class: 'needs-validation') do |form| %>
  <div class="form-group row">
    <div class="col-6">
      <%= form.label :student_name, 'Alumno:' ,class: 'col-6' %>
      <%= form.text_field :student_name, class: 'form-control form-control-sm', required: true %>
      <div class="invalid-feedback certificate_student_name"></div>
    </div>
    <div class="col-6">
      <%= form.label :dni, 'DNI:' ,class: 'col-6' %>
      <%= form.text_field :dni, class: 'form-control form-control-sm', required: true %>
      <div class="invalid-feedback certificate_dni"></div>
    </div>
  </div>

 <div class="row form-group">
    <div class="col-4">
      <%= form.label :teacher_name, 'Instructor:' %>
      <%= form.select(:teacher_name, @teachers.collect {|c| ["#{c.name}", c.name]}, 
                      {:include_blank => "Seleccione instructor"},
                      class: 'select-2-companies form-select', required: true) %>
      <div class="invalid-feedback certificate_teacher_name"></div>
    </div>
    <div class="col-4">
      <%= form.label :program_id, 'Programa:' %>
      <%= form.select(:program_id, @programs.collect {|p| ["#{p.code} - #{p.name}", p.id]}, 
                      {:include_blank => "Seleccione programa"},
                      class: 'select-2-countries form-select', required: true) %>
      <div class="invalid-feedback certificate_program_id"></div>
    </div>
    <div class="col-4">
      <%= form.label :course_type, 'Metodologia:' %>
      <%= form.select(:course_type, @type.collect {|c| ["#{c.name}", c.name]}, 
                      {:include_blank => "Seleccione metodologia"},
                      class: 'select-2-companies form-select', required: true) %>
      <div class="invalid-feedback certificate_course_type"></div>
    </div>
  </div>

  <div class="form-group row mt-2">
    <div class="col-4">
      <%= form.label :start_date, 'Finalización del curso:' ,class: 'col-6' %>
      <%= form.date_field :start_date, class: 'form-control form-control-sm', required: true %>
      <div class="invalid-feedback certificate_start_date"></div>
    </div>
    <div class="col-4">
      <%= form.label :end_date, 'Válido hasta:' ,class: 'col-6' %>
      <%= form.date_field :end_date, class: 'form-control form-control-sm', required: true %>
      <div class="invalid-feedback certificate_end_date"></div>
    </div>
    <div class="col-4">
      <%= form.label :expire, class: "form-check-inline u-check g-pl-25" do %>
        <%= form.check_box :expire, class: "g-hidden-xs-up g-pos-abs g-top-0 g-left-0" %>
        <div class="u-check-icon-checkbox-v4 g-absolute-centered--y g-left-0">
          <i class="fa" data-check-icon=""></i>
        </div>
        No aplica vencimiento
      <% end %>
    </div>
  </div>

  <div class="actions mt-2">
    <button id='submit_certificado' class='btn u-btn-primary mr-2'>Guardar</button>
    <button id='submit_cerrar_certificado' class='btn u-btn-cyan mr-2'>Guardar y cerrar</button>
    <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
  </div>
<% end %>