<div class="col-4 mb-2 mt-2 mx-auto text-center">
  <%= image_tag("logo_international.png", width: '180', height: '100', alt: 'logo-wci') %>
</div>

<div class="col-8 col-sm-6 col-md-6 g-mb-30 mx-auto">
  <div class="g-brd-around--md g-brd-gray-light-v4 g-brd-primary-top text-center g-pa-10 g-px-30--lg g-py-40--lg">
    <span class="d-block g-color-gray-dark-v4 g-font-size-40 g-mb-15">
      <i class="icon-finance-009 u-line-icon-pro"></i>
    </span>
    <h3 class="h5 g-color-black g-mb-10">Curso <%= @certificate.course %></h3>
    <p class="g-color-gray-dark-v4"><%= "#{@certificate.program.comment}" %></p>
    <div class="d-inline-block g-width-40 g-brd-bottom g-brd-gray-dark-v5 g-my-15"></div>
    <ul class="list-unstyled g-px-30 g-mb-0">
      <li class="g-brd-bottom g-brd-gray-light-v3 g-py-10"><b>Nombre y apellido del Alumno/Student Full Name: </b><%= "#{@certificate.student}" %></li>
      <li class="g-brd-bottom g-brd-gray-light-v3 g-py-10"><b>Proveedor/Provider: </b>Well Control International</li>
      <li class="g-brd-bottom g-brd-gray-light-v3 g-py-10"><b>Instructor/Instructor: </b><%= @certificate.teacher %></li>
      <li class="g-brd-bottom g-brd-gray-light-v3 g-py-10"><b>Presencial/E-Learning: </b><%= @certificate.mode %></li>
      <li class="g-brd-bottom g-brd-gray-light-v3 g-py-10"><b>N de programa/Program Numbre: </b><%= @certificate.program_number %></li>
      <li class="g-brd-bottom g-brd-gray-light-v3 g-py-10"><b>Fecha de finalizacion/Completion date: </b><%= I18n.l(@certificate.start_date, format: '%d-%b-%Y' ) %></li>
      <li class="g-brd-bottom g-brd-gray-light-v3 g-py-10"><b>Fecha de vencimiento/Expiration date: </b><%= I18n.l(@certificate.finish_date, format: '%d-%b-%Y' ) %></li>
      <li class="g-brd-bottom g-brd-gray-light-v3 g-py-10"><b>N de Certificado/Cartificate number: </b><%= @certificate.number %></li>
    </ul>
    <% if logged_in? %>
      <%= link_to 'Volver', certificates_path, class: 'btn u-btn-cyan mt-2' %>
    <% end %>
  </div>
</div>