  <!-- Header -->
<header id="js-header" class="u-header u-header--show-hide--lg u-header--change-appearance--lg" data-header-fix-moment="500" data-header-fix-effect="slide">
  <div class="u-header__section u-header__section--light g-bg-white g-transition-0_3 g-py-10" data-header-fix-moment-exclude="g-bg-white g-py-10" data-header-fix-moment-classes="g-bg-white-opacity-0_7 u-shadow-v18 g-py-0">
    <nav class="js-mega-menu navbar navbar-expand-lg">
      <div class="container">
        <!-- Responsive Toggle Button -->
        <button class="navbar-toggler navbar-toggler-right btn g-line-height-1 g-brd-none g-pa-0 g-pos-abs g-top-3 g-right-0" type="button" aria-label="Toggle navigation" aria-expanded="false" aria-controls="navBar" data-toggle="collapse" data-target="#navBar">
          <span class="hamburger hamburger--slider">
        <span class="hamburger-box">
          <span class="hamburger-inner"></span>
          </span>
          </span>
        </button>
        <!-- End Responsive Toggle Button -->
        <!-- Logo -->
        <a href="#" class="navbar-brand">
          <%= image_tag("logo.png", width: '50', height: '50', alt: 'logo-wci') %>
        </a>
        <!-- End Logo -->

        <!-- Navigation -->
        <div class="collapse navbar-collapse align-items-center flex-sm-row g-pt-10" id="navBar">
          <ul class="navbar-nav ml-auto text-uppercase g-font-weight-600 u-main-nav-v5 u-sub-menu-v1">
            <li class="nav-item g-mx-20--lg g-mb-5 g-mb-0--lg">
              <%= link_to 'Principal', root_path, class: 'nav-link' %>
            </li>
            <li class="nav-item hs-has-sub-menu g-mx-20--lg g-mb-5 g-mb-0--lg <%= @nav_active[0][:clients] %>">
              <%= link_to 'Clientes', students_path, class: 'nav-link', id: 'clients-link', 
                aria: { haspopup: 'true', expanded: 'false', controls: 'clients-submenu' } %>
              <!-- Submenu clients -->
              <ul class="hs-sub-menu list-unstyled g-mt-20--lg g-mt-10--lg--scrolling" id="clients-submenu" aria-labelledby="nav-link-1">
                <li><%= link_to 'Ver Empresas', companies_path %></li>
                <li><%= link_to 'Ver Alumnos', students_path %></li>
              </ul>
              <!-- End Submenu -->
            </li>
            <li class="nav-item g-mx-20--lg g-mb-5 g-mb-0--lg <%= @nav_active[0][:teachers] %>">
              <%= link_to 'Instructores', teachers_path, class: 'nav-link'%>
            </li>
            <li class="nav-item hs-has-sub-menu g-mx-20--lg g-mb-5 g-mb-0--lg <%= @nav_active[0][:courses] %>">
              <%= link_to 'Cursos', courses_path, class: 'nav-link', id: 'courses-link', 
                aria: { haspopup: 'true', expanded: 'false', controls: 'courses-submenu' } %>
              <ul class="hs-sub-menu list-unstyled g-mt-20--lg g-mt-10--lg--scrolling" id="courses-submenu" aria-labelledby="nav-link-1">
                <li><%= link_to 'Certificados', certificates_path, class: 'nav-link' %></li>
                <li><%= link_to 'Niveles', course_levels_path, class: 'nav-link' %></li>
              </ul>
            </li>

            <li class="nav-item g-mx-20--lg g-mb-5 g-mb-0--lg <%= @nav_active[0][:programs] %>">
              <%= link_to 'Programas', programs_path, class: 'nav-link'%>
            </li>
          </ul>
        </div>
        <!-- End Navigation -->
        <div class="d-inline-block g-hidden-md-down g-pos-rel g-valign-middle g-pl-10 g-pl-0--lg">
          <%= link_to 'Cerrar sesion', logout_path, class: 'btn u-btn-outline-pink g-font-size-12 text-uppercase g-py-10 g-px-15'%>
        </div>
      </div>
    </nav>
  </div>
</header>
<!-- End Header -->

